<div class="site-navbar-top">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
        <form action="" class="site-block-top-search">
          <span class="icon icon-search2"></span>
          <input #searchkw type="text" class="form-control border-0" placeholder="搜尋這個商店..." (keyup.enter)="enter(searchkw.value)">
        </form>
      </div>

      <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
        <div class="site-logo">
          <a routerLink="/" class="js-logo-clone">G2 Esports 拍賣</a>
        </div>
      </div>

      <div class="col-6 col-md-4 order-3 order-md-3 text-right">
        <div class="site-top-icons">
          <ul>
            <li><a *ngIf="!isLogin" href="javascript:void(0)" routerLink="register">註冊</a></li>
            <li><a *ngIf="isLogin" href="javascript:void(0)" (click)="logout()">登出</a></li>
            &nbsp;
            <li><a *ngIf="!isLogin" routerLink="login"><span class="icon icon-person"></span>&nbsp;請先登入</a></li>
            <li><a *ngIf="isLogin" routerLink="user/:id"><span class="icon icon-person"></span>&nbsp;{{ id }}</a></li>
            &nbsp;
            <li>
              <a routerLink="/cart" class="site-cart">
                <span class="icon icon-shopping_cart"></span>&nbsp;購物車
              </a>
            </li>
            <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span
                  class="icon-menu"></span></a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
<nav class="site-navigation text-right text-md-center" role="navigation">
  <div class="container">
    <ul class="site-menu js-clone-nav d-none d-md-block">
      <li><a routerLink="/">首頁</a></li>
      <li><a routerLink="/shop">商品</a></li>
      <li><a routerLink="/contact">聯絡我們</a></li>
    </ul>
  </div>
</nav>
