<div class="container">
   <div align="center">
      <div class="col-md-6 col-lg-3" >
         <div class="block-5 mb-5">
            <h3 class="footer-heading mb-4">聯絡我們</h3>
            <ul class="list-unstyled">
               <li class="address">10607 臺北市大安區基隆路 4 段 43 號</li>
               <li class="phone"><a href="tel://0227376390">+886 2 2737 6390</a></li>
               <li class="email">g2esportsshoes@gmail.com</li>
            </ul>
         </div>
         <div class="block-7">
            <form name="form" action="#" id="myform1" method="post" ngNativeValidate>
               <label for="email_subscribe" class="footer-heading">訂閱我們</label>
               <div class="form-group">
                  <input type="email" class="form-control py-4" name="email" id="email_subscribe" placeholder="Email"
                  [(ngModel)]="email" required>
                  <button type="submit" class="btn btn-sm btn-primary" value="Send" (click)="onSubmit()" [disabled] ="email == null">SEND</button>
               </div>
            </form>
         </div>
      </div>
   </div>
   <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
         <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
            <script>
               document.write(new Date().getFullYear());
            </script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i>
            by <a href="https://colorlib.com" target="_blank" class="text-primary">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
         </p>
      </div>
   </div>
</div>
