<div class="site-wrap">
<div class="bg-light py-3">
   <div class="container">
      <div class="center">
         <div class="col-md-12 mb-0"><a href="index.html">首頁</a> <span class="mx-2 mb-0">/</span> <a href="cart.html">購物車</a>
            <span class="mx-2 mb-0">/</span> <strong class="text-black">結帳</strong>
         </div>
      </div>
   </div>
</div>
<div class="site-section">
<div class="container">
   <div class="row">
      <div class="col-md-6">
         <h2 class="h3 mb-3 text-black">填寫付款人資訊</h2>
         <div class="p-3 p-lg-5 border">
            <form class="was-validated">
               <div class="form-group">
                  <label for="c_country" class="text-black">國家 <span class="text-danger">*</span></label>
                  <select class="custom-select" required>
                     <option value="">選擇國家</option>
                     <option value="1">台灣</option>
                     <option value="2">美國</option>
                     <option value="3">加拿大</option>
                     <option value="4">英國</option>
                     <option value="5">法國</option>
                     <option value="6">中國</option>
                  </select>
                  <div class="invalid-feedback">請選擇國家</div>
               </div>
               <div class="form-group row">
                  <div class="col-md-6">
                     <label for="c_fname" class="text-black">姓 <span class="text-danger">*</span></label>
                     <input type="text" class="form-control" id="c_fname" name="c_fname" [(ngModel)]="c_fname" [disabled]="disabled"
                     required>
                     <div class="invalid-feedback">請填寫姓氏</div>
                  </div>
                  <div class="col-md-6">
                     <label for="c_lname" class="text-black">名 <span class="text-danger">*</span></label>
                     <input type="text" class="form-control" id="c_lname" name="c_lname" [(ngModel)]="c_lname" [disabled]="disabled"
                     required>
                     <div class="invalid-feedback">請填寫名字</div>
                  </div>
               </div>
               <div class="form-group row">
                  <div class="col-md-12">
                     <label for="c_companyname" class="text-black">公司名稱（選填） </label>
                     <input type="text" class="form-control" id="c_companyname" name="c_companyname" [(ngModel)]="c_companyname">
                  </div>
               </div>
               <div class="form-group row">
                  <div class="col-md-12">
                     <label for="c_address" class="text-black">地址 <span class="text-danger">*</span></label>
                     <input type="text" class="form-control" id="c_address" name="c_address" placeholder="請輸入地址"
                     [(ngModel)]="c_address" [disabled]="disabled" required>
                     <div class="invalid-feedback">請填寫地址以利寄送</div>
                  </div>
               </div>
               <div class="form-group row mb-5">
                  <div class="col-md-6">
                     <label for="c_email_address" class="text-black">電子郵件 <span class="text-danger">*</span></label>
                     <input type="email" class="form-control" id="c_email_address" name="c_email_address" [(ngModel)]="c_email_address"
                     [disabled]="disabled" placeholder="123@example.com" required email>
                     <div class="invalid-feedback">請填寫正確格式之電子郵件</div>
                  </div>
                  <div class="col-md-6">
                     <label for="c_phone" class="text-black">電話 <span class="text-danger">*</span></label>
                     <input type="text" class="form-control" id="c_phone" name="c_phone" placeholder="09XXXXXXXX"
                     [(ngModel)]="c_phone" required pattern='\d{4}\d{6}'>
                     <div class="invalid-feedback">請填寫正確格式之手機號碼</div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <label class="text-black h4" for="coupon">折價券</label>
                     <p>請輸入折價代碼</p>
                  </div>
                  <div class="col-md-8 mb-3 mb-md-0">
                     <select class="custom-select" style="width: 150px" (change)="ChangingCoupon($event)" [value]="">
                     <option value="">無</option>
                     <ng-container *ngFor="let i of couponlist;">
                        <option [value]="i.id">{{ i.code }}</option>
                     </ng-container>
                     </select>
                  </div>
               </div>
               <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="private" [(ngModel)]="checkkk" name="private"
                  required>
                  <label class="custom-control-label" for="private">同意本公司存取您所填寫之個人資料</label>
                  <div class="invalid-feedback">必須勾選</div>
               </div>
               <div *ngIf="errorpay" class="errorResponse store-Address">
                  填寫資料不完全或格式有誤
               </div>
               <div class="form-group">
                  <button class="btn btn-primary btn-lg py-3 btn-block" type="submit" (click)="Pay()" [disabled]="checkkk == false ||checkkk == null||c_email_address==null ||c_lname == null||c_address == null||c_phone == null">結帳</button>
               </div>
            </form>
         </div>
      </div>
      <div class="col-md-6">
         <h2 class="h3 mb-3 text-black">商品資訊</h2>
         <table class="table table-bordered">
            <thead>
               <tr>
                  <th class="product-name">商品名稱</th>
                  <th class="product-price">原價</th>
                  <th class="product-price">折扣後價格</th>
                  <th class="product-quantity">數量</th>
                  <th class="product-total">總價</th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let item of cartList">
                  <td class="product-name">{{item.name}}</td>
                  <td>{{item.price}}</td>
                  <td>{{item.price * discount/100}}</td>
                  <td>
                     {{item.quantity}}
                  </td>
                  <td>{{item.quantity * item.price *discount / 100}}</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>
