<div class="site-wrap">

  <!--目前位置(可返回home)-->
  <div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a href="index.html">首頁</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">登入</strong></div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="row">

        <!--表單標題-->
        <div class="col-md-12">
          <h2 class="h3 mb-3 text-black store-Address">登入</h2>
        </div>

        <!--表單-->
        <div class="col-md" ng-controller="MyCtrl">
          <form name="form" id="myform" method="post" ngNativeValidate>
            <div class="p-3 p-lg-5 border">

              <div class="form-group row">
                <div class="col-md">
                  <label class="text-black store-Address">信箱</label>
                  <input type="email" class="form-control store-Address" name="email" placeholder="example123@mail.com"
                    [(ngModel)]="user.email" required>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md">
                  <label class="text-black store-Address">密碼</label>
                  <input type="password" class="form-control store-Address" name="password" placeholder="password"
                    [(ngModel)]="user.password" (keyup.enter)="login()" required>
                </div>
              </div>
              <div *ngIf="errorLogin" class="errorResponse store-Address">
                帳號或密碼有誤
              </div>
              <div class="form-group row">
                <div class="col-lg-12">
                  <button type="button" class="btn btn-primary btn-lg btn-block store-Address" (click)="login()" >登入</button>
                </div>
              </div>
              <div class="col-lg-12">
                <button type="button" class="btn btn-primary btn-lg btn-block store-Address" routerLink="/forgetpass" >忘記密碼</button>
              </div>
            </div>
          </form>

        </div>

        <!--店面資訊-->

      </div>
    </div>
  </div>
</div>
