  <div class="site-wrap">


    <div class="site-section block-3 site-blocks-2 bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>{{product.id}}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <img src="assets/images/shop/{{product.cateories}}/{{product.imagepath}}" alt="Image placeholder"
                        class="img-fluid">
                  </figure>
                  <div class="block-4-text p-4">
                    <h3>{{product.name}}</h3>
                    <p class="mb-0">{{product.description}}</p>
                    <p class="text-primary font-weight-bold">${{product.price}}</p>
                  </div>
                </div>
              </div>
              <button (click)="addData()">加入購物清單</button>
          </div>
        </div>
      </div>
    </div>

  </div>
