<div class="site-wrap">
  <div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a href=#>Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Shop</strong></div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">

      <div class="row mb-5">
        <div class="col-md-9 order-2">

          <div class="row">
            <div class="col-md-12 mb-5">
              <div class="float-md-left mb-4">
                <h2 class="text-black h5" *ngIf="kw === undefined; else elseTag">全部商品</h2>
                <ng-template #elseTag>
                  <h2 class="text-black h5">搜尋結果：{{ kw }}</h2>
                </ng-template>
              </div>
              <div class="d-flex">
                  <div class="dropdown mr-1 ml-md-auto">
                  </div>
                  <div class="btn-group">
                    <select id="dropdownMenuReference" class="btn btn-secondary">
                      <option class="dropdown-item" href="#" selected="selected">預設排序</option>
                      <option class="dropdown-item" href="#">名稱，由小到大</option>
                      <option class="dropdown-item" href="#">名稱，由大到小</option>
                      <div class="dropdown-divider"></div>
                      <option class="dropdown-item" href="#">價格，由高到低</option>
                      <option class="dropdown-item" href="#">價格，由低到高</option>
                      </select>
                  </div>
                </div>
            </div>
          </div>

          <div class="row mb-5">
            <div *ngFor="let data of datas" class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
              <div class="block-4 text-center border">
                <figure class="block-4-image">
                  <a href="/shopsingle/{{data.id}}"><img src="assets/images/shop/{{data.cateories}}/{{data.imagepath}}"
                      alt="Image placeholder" class="img-fluid"></a>
                </figure>
                <div class="block-4-text p-4">
                  <h3><a href="/shopsingle/{{data.id}}">{{data.name}}</a></h3>
                  <p class="mb-0">{{data.description}}</p>
                  <p class="text-primary font-weight-bold">${{data.price}}</p>
                </div>
              </div>
            </div>
          </div>

          <!--<div class="row" data-aos="fade-up">
              <div class="col-md-12 text-center">
                <div class="site-block-27">
                  <ul>
                    <li><a href="#">&lt;</a></li>
                    <li class="active"><span>1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&gt;</a></li>
                  </ul>
                </div>
              </div>
            </div>
            !-->

        </div>

        <div class="col-md-3 order-1 mb-5 mb-md-0">
          <div class="border p-4 rounded mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">分類</h3>
            <ul class="list-unstyled mb-0">
              <li class="mb-1"><a routerLink="/shop" (click)="click(' ')" class="d-flex"><span class="ml-auto">全部商品</span> <span class="text-black ml-auto"></span></a></li>
              <li class="mb-1"><a routerLink="/shop/man" (click)="click('man')" class="d-flex"><span class="ml-auto">男款</span> <span class="text-black ml-auto"></span></a></li>
              <li class="mb-1"><a routerLink="/shop/woman" (click)="click('woman')" class="d-flex"><span class="ml-auto">女款</span> <span class="text-black ml-auto"></span></a></li>
              <li class="mb-1"><a routerLink="/shop/boy" (click)="click('boy')" class="d-flex"><span class="ml-auto">男童</span> <span class="text-black ml-auto"></span></a></li>
              <li class="mb-1"><a routerLink="/shop/girl" (click)="click('girl')" class="d-flex"><span class="ml-auto">女童</span> <span class="text-black ml-auto"></span></a></li>
            </ul>
          </div>

          <!--<div class="border p-4 rounded mb-4">
            <div class="mb-4">
              <h3 class="mb-3 h6 text-uppercase text-black d-block">價錢篩選</h3>
              <div id="slider-range" class="border-primary"></div>
              <input type="text" name="text" id="amount" class="form-control border-0 pl-0 bg-white" />
            </div>
          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-section site-blocks-2">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-3 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
        <a class="block-2-item" routerLink="/shop/man" (click)="click('man')">
          <figure class="image">
            <img src="assets/images/men.jpg" alt="" class="img-fluid">
          </figure>
          <div class="text">
            <span class="text-uppercase">Collections</span>
            <h3>男鞋</h3>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="">
        <a class="block-2-item" routerLink="/shop/woman" (click)="click('woman')">
          <figure class="image">
            <img src="assets/images/women.jpg" alt="" class="img-fluid">
          </figure>
          <div class="text">
            <span class="text-uppercase">Collections</span>
            <h3>女鞋</h3>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
        <a class="block-2-item" routerLink="/shop/boy" (click)="click('boy')">
          <figure class="image">
            <img src="assets/images/chia-ming.png" alt="" class="img-fluid">
          </figure>
          <div class="text">
            <span class="text-uppercase">Collections</span>
            <h3>男童</h3>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
        <a class="block-2-item" routerLink="/shop/girl" (click)="click('girl')">
          <figure class="image">
            <img src="assets/images/children.jpg" alt="" class="img-fluid">
          </figure>
          <div class="text">
            <span class="text-uppercase">Collections</span>
            <h3>女童</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
